.jumbotron{
    background: #c31432;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to right, #240b36, #c31432); 
    color: white;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background: #c31432;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to right, #240b36, #c31432); 
    color: white;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 220px;
    padding:  2px 5px 2px 5px;
    margin-top: 30px;
}

.btn-reserva{
    width: 100%;
}